{% extends 'base.html' %}

{% block content %}

<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="subscribe-1">
          <h2>Edit Post</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.title.id_for_label }}">Title:</label>
              <input type="text" class="form-control" name="title" maxlength="200" required=""id="id_title" value="{{ form.title.value|default_if_none:'' }}">
              {% if form.title.errors %}
                <small class="text-danger">{{ form.title.errors }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.content.id_for_label }}">Content:</label>
              <textarea id="id_content" name="content" class="form-control" rows="6" value="{{ form.content.value|default_if_none:'' }}">{{ form.content.value|default_if_none:'' }}</textarea>
              {% if form.content.errors %}
                <small class="text-danger">{{ form.content.errors }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.category.id_for_label }}">Category:</label>
              {{ form.category }}
              {% if form.category.errors %}
                <small class="text-danger">{{ form.category.errors }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.tags.id_for_label }}">Tags:</label>
              <input type="text" class="form-control" name="tags" value="{% for value in form.tags.value %}{{ value }} {% endfor %}" id="{{ form.tags.id_for_label }}">
              {% if form.tags.errors %}
              <small class="text-danger">{{ form.tags.errors }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.image.id_for_label }}">Image:</label>
              <input type="file" name="image" id="id_image" accept="image/*">
              {% if form.image.errors %}
                <small class="text-danger">{{ form.image.errors }}</small>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'core:post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
